#telogo {
  width: 300px;
  height: auto;
  animation: 1.5s ease-out fadein;
  /*animation-delay: 1s;*/
  /*opacity: 1;*/
}

@keyframes fadein {
  from {opacity:0; transform:translateY(30px);} to {opacity:1; transform:translateY(0px);}
}

div{
  width: 100%;
  text-align: center;
  margin: 100px 0;
}
